@import '@shared/stylesheets/config.sass'

.personal-project-file-item
  +flex-container(column, center, stretch)
  border-radius: $border-radius-sm
  border: 1px solid $color-border
  margin: $m-base 0
  min-height: $m-md * 2
  padding: $m-sm $m-sm $m-base * 0.5

  &__wrapper
    +flex-container(row, flex-start, center)

  &__info
    +flex-container(row, space-between, center)
    color: $color-primary-500
    fill: $color-primary-500
    font-weight: $font-weight-regular
    margin-right: auto
    transition: all $transition-duration $transition-function

    &.-success
      color: $color-success-500

      path
        fill: $color-success-500

  &__loading-spinner
    margin-right: $m-xs

  &__name
    color: inherit
    font-size: $font-size-xs
    margin: 0 $m-xs
    text-decoration: none
    word-break: break-all

    &:hover
      color: inherit

  &__button
    &#{&}
      background-color: $color-background
      height: $m-md
      margin-left: $m-base * 0.5
      min-width: $m-md
      width: $m-md

      &:hover
        background-color: $color-border-hover

      .icon
        fill: $color-primary-500

      &.-danger
        background-color: $color-secondary-200

        &:hover
          background-color: darken($color-secondary-200, 5%)

        .icon
          fill: $color-danger-500

      &.-disabled
        background-color: $color-background

        svg
          fill: $color-font-secondary

        &:hover
          background-color: $color-border-hover
          transform: translateY(-1px)

    &.-delete-existing-file
      &#{&} // strengthen selector
        background-color: $color-secondary-200
        height: $m-md
        margin-left: $m-base * 0.5
        min-height: $m-md
        min-width: $m-md
        width: $m-md

        path
            fill: $color-danger-500

        &:hover
            background-color: darken($color-secondary-200, 5%)

        &:disabled
            background-color: $color-background

            path
                fill: $color-font-secondary

  &__progress-container
    border-radius: $border-radius-xs
    margin-top: $m-sm
    overflow: hidden

  &__progress-inticator
    background-color: $color-primary-500
    height: 2px
    width: 0
