@import '@shared/stylesheets/config.sass'

.assessment-result-courses
  margin: 0 auto $m-base
  max-width: 800px

  &__pathway-title
    color: $color-font-primary
    font-size: $font-size-2xl
    text-align: center

  &__pathway-description
    color: $color-font-secondary
    line-height: $line-height-base
    margin: 0 auto $m-lg
    max-width: 600px
    text-align: center
