@import '@shared/stylesheets/config.sass'

.emptyState
  +flex-container(column, center, center)
  height: 100%
  overflow: hidden
  width: 100%

.emptyStateImage
  width: 60%

.emptyStateText
  color: $color-primary-500
  font-family: $font-family-body
  font-size: $font-size-base
  font-stretch: normal
  font-style: normal
  font-weight: $font-weight-medium
  line-height: $line-height-base
