@import '@shared/stylesheets/config.sass'

.emptyFutureChecklist
  +flex-container(column, center, center)
  height: 100%
  text-align: center
  padding: $m-sm 0

.image
  margin-bottom: $m-md

.heading
  margin-bottom: $m-sm

.info
  font-size: $font-size-xs

.heartIcon
  color: $color-danger-500
  height: $m-sm
  width: $m-sm
  position: relative
  bottom: -1px
