@import '@shared/stylesheets/config.sass'

$modal-max-height: 920px
$action-radius: 50%

.heading
  margin-bottom: $m-xs
  text-transform: uppercase

.tooltip
  font-size: $m-xs

.actionDot
  align-self: center
  height: $m-xs
  width: $m-xs
  background-color: $color-border
  border-radius: $action-radius
  display: inline-block
