@import '@shared/stylesheets/config.sass'

$status-wrapper-size: 32px
$status-wrapper-size-xxxl: 40px

.statusWrapper
  width: $status-wrapper-size
  height: $status-wrapper-size

  +media-breakpoint-up(xxxl)
    width: $status-wrapper-size-xxxl
    height: $status-wrapper-size-xxxl
