@import '@shared/stylesheets/config.sass'

$grade-max-width: $m-base

.gradesWrapper
  border-radius: $border-radius-lg
  border: $border-width-xs solid $color-background
  margin-right: $m-xs
  padding: $m-xxs $m-xs
  min-width: 0
