@import '@shared/stylesheets/config.sass'

.itemWrapper
  +flex-container(row, false, center)
  gap: $m-xs

.teamIconWrapper
  +flex-container(row, center, center)
  padding: $m-xs
  background-color: $color-primary-200
  border-radius: 50%
  margin-right: $m-xxs

  svg
    width: $m-base
    height: $m-base

  path
    fill: $color-primary-500
