@import '@shared/stylesheets/config'

.body
  +flex-container(row, flex-start, flex-start)
  margin-bottom: $m-xs

.inputsWrapper
  +flex-container(column, flex-start)
  margin-left: $m-base
  gap: $m-xs
  width: 100%

.filesHeading
  margin-bottom: $m-xs
