@import '@shared/stylesheets/config.sass'

.favoritesWrapper
  :global(.institutionCard)
    border: 1px solid $color-neutral-200

.heading
  font-size: $font-size-sm
  margin-bottom: $m-xs

  +media-breakpoint-up(xxl)
    font-size: $font-size-base
    margin-bottom: $m-sm

.verticalList
  height: 100%
  padding-bottom: $m-md
