@import '@shared/stylesheets/config.sass'

$skeleton-min-width: 220px
$skeleton-height: 359px
$skeleton-height-xxl: 384px

.skeletonContainer
  display: grid
  gap: $m-base
  grid-template-columns: repeat(auto-fill, minmax($skeleton-min-width, 1fr))
  padding: $m-sm $m-xs

  +media-breakpoint-up(xxxl)
    gap: $m-md

.skeletonWrapper
  height: $skeleton-height !important

  +media-breakpoint-up(xxxl)
    height: $skeleton-height-xxl !important
