@import '@shared/stylesheets/config.sass'

.sectionContent
  +flex-container(column, center, flex-start)
  span
    font-size: $font-size-sm

.switch
  margin-bottom: $m-sm

.tooltipWrapper
  display: flex
  line-height: 1.5
  margin-bottom: $m-sm
  margin-top: 0
