@import '@shared/stylesheets/config.sass'

.main-content
  padding: $m-sm

  +media-breakpoint-up(md)
    padding: $m-sm

  +media-breakpoint-up(lg)
    padding: $m-base

  +media-breakpoint-up(xxxl)
    padding: $m-md
