@import '@shared/stylesheets/config.sass'

$opportunity-image-height: 144px
$opportunity-image-height-xxl: 240px

.statusBadge
  color: $color-white
  font-weight: $font-weight-bold
  font-size: $font-size-xxxs
  padding: $m-xs
  border-radius: $m-lg
  background-color: $color-neutral-500
  text-transform: uppercase

.primary
  background-color: $color-primary-500

.success
  background-color: $color-success-600

.pending
  background-color: $color-font-secondary

.inProgress
  background-color: $color-secondary-500

.rejected
  background-color: $color-danger-500

.expired
  background-color: $color-neutral-300
  color: $color-neutral-600
