@import '@shared/stylesheets/config'

.review-indicator
  align-items: center
  display: flex
  justify-content: center

  &__label
    background-color: $color-secondary-500
    border-radius: 50px
    height: $m-xs
    margin-left: $m-xs
    margin-right: $m-xxs
    width: $m-xs

  &__text
    color: $color-secondary-500
    font-size: $font-size-xxs
    font-weight: $font-weight-regular
