@import '@shared/stylesheets/config.sass'

.adminDashboard
  +flex-container(column)
  background-color: $color-white
  border-radius: $border-radius-sm
  padding: $m-base

  &.tabs
    padding-left: 0
    padding-right: 0
