@import '@shared/stylesheets/config.sass'

.title
  font-weight: $font-weight-bold
  font-size: $font-size-3xl
  fill: $color-font-secondary

  +media-breakpoint-up(xxl)
    font-size: $font-size-2xl + $font-size-2xl

.subtitle
  font-weight: $font-weight-regular
  font-size: $font-size-xs
  fill: $color-font-primary

  +media-breakpoint-up(xxl)
    font-size: $font-size-sm
