.icon
  display: flex
  align-items: center
  justify-content: center
  flex: 0 0 auto

  &.-xxs-size
    height: $icon-size-xxs
    width: $icon-size-xxs

  &.-xs-size
    height: $icon-size-xs
    width: $icon-size-xs

  &.-sm-size
    height: $icon-size
    width: $icon-size

  &.-md-size
    height: $m-md
    width: $m-md

  &.-lg-size
    height: $icon-size-lg
    width: $icon-size-lg

  svg
    width: inherit
    height: inherit
