@import '@shared/stylesheets/config.sass'

.list
  line-height: $line-height-lg
  list-style-position: outside
  list-style-type: disc
  padding-left: $m-sm
  margin: 0

.listWithTitle
  &:not(:first-of-type)
    margin-top: $m-xs

.secondaryList
  color: $color-font-secondary
  padding-left: $m-base

.outlookList
  font-weight: $font-weight-bold
  padding-left: $m-base

.outlookCategory
  margin-bottom: $m-sm

.paragraph
  margin-bottom: 0
