@import '@shared/stylesheets/config'

.wrapper
  +flex-container(row, false, center)
  gap: $m-xs

.teacher
  font-size: $font-size-xs
  font-weight: $font-weight-regular
  line-height: 17px
  white-space: nowrap
