@import '@shared/stylesheets/config'

.groupWrapper
  background-color: $color-white
  border-radius: $border-radius-xs
  height: 100%
  margin-top: $m-base
  width: 100%

  > div
    padding-top: 0

.groupName
  margin: 0
  padding:
    bottom: 0
    left: $m-base
    right: $m-base
    top: $m-base
