@import '@shared/stylesheets/config.sass'

.placeholder
  +flex-container(column, center, center)
  width: 100%

  .placeholderImage
    width: 300px
    margin-bottom: $m-sm

.noConversations
  color: $color-font-primary
  font-size: $font-size-2lg
  text-align: center
  width: 300px

.noConversationsInfo
  font-size: $font-size-sm
