@import '@shared/stylesheets/config'

.name
  display: -webkit-box
  margin: $m-xs auto
  line-height: $line-height-base
  text-align: center
  overflow: hidden
  text-overflow: ellipsis
  -webkit-box-orient: vertical
  -webkit-line-clamp: 3
