@import '@shared/stylesheets/config.sass'

$indicator-height: 22px
$indicator-width: 23px
$dropdown-max-height: 340px
$dropdown-width: 240px

.tagsCount
  height: $indicator-height
  width: $indicator-width

.dropdown
  +scrollbar
  max-height: $dropdown-max-height
  width: $dropdown-width
