@import '@shared/stylesheets/config.sass'

.admin-list
  background-color: $color-white
  border: 1px solid $color-border
  border-radius: $border-radius-sm

  &__wrapper
    max-width: 100%
    overflow: auto

  &__footer
    display: flex
    margin: $m-sm 0
    width: fit-content

  &__new-button
    margin-right: auto

  &__new-button
    &:nth-last-of-type(n+2)
      &:nth-last-of-type(1)
        margin-left: $m-base

  &__header
    &:nth-child(1)
      width: 40%

    &:nth-child(2)
      width: 40%

    &:nth-child(3)
      width: 20%

.admin-list-item
  &__actions
    display: flex
    flex-direction: column

  &__image
    max-height: 100px
    max-width: 100px

  &__expandable-list-container
    position: relative

  &__expandable-list
    background-color: $color-white
    border-radius: $border-radius-sm
    left: 0
    list-style-type: none
    margin: 0
    max-height: $line-height-sm * 2
    overflow: hidden
    padding: 0
    position: absolute
    top: 0
    width: 100%

    &:hover
      +box-shadow-300($color-font-primary)
      left: 50%
      max-height: 400px
      overflow: auto
      padding: 0
      scrollbar-width: none
      transform: translateX(-50%)
      width: fit-content
      z-index: $z-high

    &::-webkit-scrollbar
      display: none

  &__expandable-list-item
    border-bottom: 1px solid $color-border
    line-height: $line-height-base
    margin: $m-xs
    padding-bottom: $m-xs
    text-align: left
    white-space: nowrap

    &:last-child
      border-bottom: none

  &__actions
    +flex-container(row, center, center)
    gap: $m-xs
    justify-content: flex-end
    margin-left: $m-xs

  &__list-item-action-button
    margin-left: $m-md
