@import '@shared/stylesheets/config.sass'
  
.demo-label
  background-color: $color-primary-500
  border-radius: $border-radius-xs
  color: $color-white
  font-size: $font-size-xxxs
  font-weight: $font-weight-regular
  margin-left: $m-xs
  max-width: 40px
  padding: $m-xxs
