@import '@shared/stylesheets/config'

.title
  margin: 0

.editableTitle
  +flex-container(row, space-between, center)
  flex: 1
  gap: $m-xs
  margin: 0

.editActions
  +flex-container(row)
  gap: $m-sm

.form
  display: flex
  width: 100%

.button
  width: 100px
