@import '@shared/stylesheets/config.sass'

.userHeader
  +flex-container(row, false, center)

.avatar
  margin-right: $m-xs

.title
  font-size: $font-size-sm
  font-weight: $font-weight-medium
  margin: 0
