@import '@shared/stylesheets/config.sass'

.rubricEditor
  th
    background-color: $color-neutral-200
    text-align: start
    padding: $m-xs $m-x

  th:last-of-type
    text-align: center

  td
    padding: $m-x

  th,
  td
    border: 1px solid $color-neutral-300

  th
    font-weight: $font-weight-regular


