@import '@shared/stylesheets/config.sass'

.logoIcon
  +flex-container(row, center, center)
  cursor: pointer
  height: $m-md + $m-xs
  margin: $m-sm 0 $m-md
  padding: 0 $m-sm
  width: $navbar-expand-width
