@import '@shared/stylesheets/config'

.slideContent
  +flex-container(row)
  height: 500px
  width: 80%
  margin: 0 auto

.links
  margin-top: $m-sm

.titleContainer
  display: inline-block

  .presentation-textcontainer
    padding: 0 $m-md !important

.center
  justify-content: center
  align-items: center

  .titleContainer
    display: block
    width: 960px

.top-right
  justify-content: flex-end

.bottom-left
  align-items: flex-end

.bottom-right
  align-items: flex-end
  justify-content: flex-end
