@import '@shared/stylesheets/config.sass'

$error-message-height: 16px
$period-input-width: 392px

.periods
  max-width: min-content

  input
    width: $period-input-width

.errorMessage
  color: $color-danger-500
  font-size: $font-size-xs
  height: $error-message-height
  margin-bottom: $m-sm

