@import '@shared/stylesheets/config'

.flex
  +flex-container(row, space-between, stretch)

.button
  align-self: center
  white-space: nowrap

.contentWrapper
  flex: 1 0 50%

.alignLeft
  text-align: left

.noMargin
  h4
    margin-bottom: 0
