@import '@shared/stylesheets/config'

.wrapper
  +flex-container(column)
  color: $color-font-primary
  grid-area: activity

.placeholder
  +flex-container(row, center, center)
  color: $color-font-primary
  height: 100%
  margin-top: $m-sm

.centered
  +flex-container(row, center, center)
