@import '@shared/stylesheets/config'

.header
  +flex-container(row, space-between, center)
  margin: $m-base $m-base 0
  padding: 0

.body
  margin: $m-base
  padding: 0

.footer
  padding: 0
  margin: 0 $m-base
