@import '@shared/stylesheets/config.sass'

.grading-schoolclass-item
    +flex-container(row, flex-start, center)
    background-color: $color-white
    border-radius: $border-radius-sm
    cursor: pointer
    margin-bottom: $m-sm
    padding: $m-sm

    &.-need-review
        border-left: 3px solid $color-secondary-500

    &__icon-wrapper
        background-color: $color-background
        border-radius: $border-radius-sm
        display: grid
        height: 40px
        place-items: center
        width: 40px

        path
            fill: $color-font-primary

    &__name-wrapper
        color: $color-primary-500
        margin-left: $m-base
        margin-right: $m-sm

    &__parent-name
        font-size: $font-size-xs
        margin: 0

    &__name
        +flex-container(row, flex-start, center)
        font-size: $font-size-sm
        line-height: $line-height-base
        margin: 0

    &__link
        +flex-container(row)
        color: $color-primary-500
        fill: $color-primary-500
        margin-left: auto
        margin-right: $m-lg

        &.-need-review
            color: $color-secondary-500
            fill: $color-secondary-500

    &__link-text
        display: block
        margin-right: $m-xs
