@import '@shared/stylesheets/config.sass'

.message
  +flex-container(row)
  padding: 0 $m-base
  margin-bottom: $m-x

  +media-breakpoint-up(xxl)
    margin-bottom: $m-sm

.messageBody
  background-color: $color-background
  border-radius: $border-radius-base
  border-bottom-left-radius: 0
  color: $color-font-primary
  font-weight: $font-weight-medium
  max-width: 700px
  font-size: $font-size-xs
  padding: $m-x
  word-break: break-word

  +media-breakpoint-up(xxl)
    font-size: $font-size-sm
    padding: $m-sm

.isAuthor
  justify-content: flex-end

  .messageBody
    background-color: $color-primary-500
    border-radius: $border-radius-s
    border-bottom-right-radius: 0
    color: $color-white
    word-wrap: break-word

  .messageBodyWrapper
    +flex-container(column, false, flex-end)

.footerDate
  color: $color-font-secondary
  display: inline-block
  font-size: $font-size-xxs
  margin-top: $m-xxs

  +media-breakpoint-up(xxl)
    font-size: $font-size-xs
