@import '@shared/stylesheets/config.sass'

.course-skeleton
  &__badge
    &#{&}
      width: 100px

  &__button
    height: $m-lg
    margin-right: $m-base

    &#{&}
      border-radius: $border-radius-sm
      width: 150px

  &__description-wrapper
    margin-top: $m-base

    .skeleton-rectangle
      &:first-of-type
        margin-bottom: $m-sm
        
      &:last-of-type
        width: 200px

  &__heading
    height: $m-base
    margin: $m-base 0

    &#{&}
      width: 200px
  
  &__image
    height: 100%
    position: absolute
    width: 100%

    &#{&}
      border-radius: 0

  &__show-btn
    height: $m-base + $m-xs

  &__title
    height: $m-base

    &#{&}
      width: 200px
