@import '@shared/stylesheets/config'

.wrapper
  +flex-container(row, space-between, center)
  flex-direction: row-reverse
  margin-bottom: $m-sm

.actions
  +flex-container(row, false, center)
  column-gap: $m-xs

.description
  p
    margin-bottom: 0
