@import '@shared/stylesheets/config'

.doneIcon
  fill: $color-primary-500
  margin-right: $m-xxs

.badgeValue
  color: $color-font-primary
  font-size: $font-size-sm
  font-weight: $font-weight-bold
  margin-top: $m-xxs
  text-transform: capitalize

.badgeDraft
  color: $color-secondary-500
