@import '@shared/stylesheets/config'

.bodyHeader
  +flex-container(row)
  gap: $m-xs

.subjectName
  font-weight: $font-weight-bold

.submissionDate
  font-size: $font-size-xs
  color: $color-neutral-700
