@import '@shared/stylesheets/config.sass'

.listItem
  +flex-container(row, flex-start, center)
  border-bottom: 1px solid $color-neutral-300
  cursor: pointer
  padding: $m-sm

  &:hover
    background-color: $color-primary-200

.checkbox
  margin: 0
