@import '@shared/stylesheets/config'

.container
  +flex-container(row, center, center)
  gap: $m-md

.onDark
  background-color: $color-white !important
  border-color: $color-primary-500

.btnWrapper
  border: 2px dashed transparent
  border-radius: $border-radius-sm
  padding: $m-xs

.selectedOnDark
  border-color: $color-white

.selectedOnLight
  border-color: $color-primary-500


  