@import '@shared/stylesheets/config'

.submitButton
  margin-left: auto

.formActions
  +flex-container(row, center, center)

.questionStatusWrapper
  color: $color-neutral-800

.statusTitle
  color: $color-font-secondary
  font-size: $font-size-xxs
  font-weight: $font-weight-bold
  letter-spacing: 0.1em
  line-height: 100%
  text-transform: uppercase

.newTeamMember
  justify-content: space-between

.submitDisabledInfo
  margin-bottom: $m-xs
