@import '@shared/stylesheets/config.sass'

.cardBody
  +flex-container(column)
  margin-top: $m-sm
  
.imageWrapper
  max-width: 500px
  overflow: hidden

.image
  object-fit: cover
  
.contentWrapper
  margin-top: $m-sm
  max-width: 80%

.description
  word-break: break-word
