@import '@shared/stylesheets/config.sass'

.login-divider
  +flex-container(row, center, center)
  padding: $m-xs
  margin: $m-sm 0

  &__line
    border: 1px solid $color-disabled
    width: 100%

  &__text
    color: $color-font-secondary
    font-size: $font-size-xxs
    padding-left: $m-sm
    padding-right: $m-sm
    text-transform: capitalize
