@import '@shared/stylesheets/config.sass'

.vocabularyList
  margin: 0

.vocabularyItem
  &:not(:last-child)
    margin-bottom: $m-sm

.vocabularyDefinition
  p
    margin-bottom: 0

    &:first-of-type
      display: inline
