@import '@shared/stylesheets/config'

$sidebar-max-width: 390px

.container
  background-color: $color-white
  border-radius: $border-radius-xs
  flex: 0 0 30%
  max-width: $sidebar-max-width
  padding: $m-base
