@import '@shared/stylesheets/config.sass'

$progress-bar-width: 300px

.diploma
  text-align: center

.imagesWrapper
  margin: 0 auto $m-sm auto

.heading
  margin-bottom: $m-xs
  font-size: $font-size-sm
  line-height: $line-height-base

  +media-breakpoint-up(xxxl)
    font-size: $font-size-lg

.description
  font-size: $font-size-xxs
  line-height: $line-height-lg

  +media-breakpoint-up(xxxl)
    font-size: $font-size-sm

.progressBarWrapper
  width: $progress-bar-width
  margin: 0 auto
