@import '@shared/stylesheets/config'

.body
  margin-top: $m-xs

.wrapper
  border: 1px solid $color-border-disabled
  border-radius: $border-radius-sm
  display: block
  padding: $m-sm

.header
  +flex-container(row, space-between)
  width: 100%

.text
  color: $color-font-secondary

.dropzone
  margin-top: $m-xs

.icon
  color: $color-primary-500

.productListWrapper
  margin-top: $m-sm
