@import '@shared/stylesheets/config.sass'

.label
  ul
    list-style: disc
    padding-left: $m-sm

.textarea
  :global(.textarea__input)
    margin-bottom: 0!important
    background-color: $color-white

  :global(.textarea__input::placeholder)
    color: $color-neutral-400
