@import '@shared/stylesheets/config'
    
.message
  +flex-container(row, center, flex-start)
  color: $color-danger-500
  fill: $color-danger-500
  font-size: $font-size-xs
  gap: $m-xxs
  margin-bottom: $m-sm
  text-align: left
  visibility: hidden

.visible
  visibility: visible