@import '@shared/stylesheets/config.sass'

.dateRangePicker
  :global(.react-datepicker-wrapper)
    width: 100%
    z-index: 1

  :global(.react-datepicker__header)
    background-color: $color-white !important
    border-bottom: none
