@import '@shared/stylesheets/config'

.wrapper
  border: 1px solid black
  border-radius: $border-radius-sm

.header
  +flex-container(row)

.actions
  +flex-container(row, center)

.question
  color: $color-font-primary
  font-weight: $font-weight-bold
  margin: 0
  word-break: break-word
