@import '@shared/stylesheets/config.sass'

.container
  +flex-container(column)
  background-color: $color-white
  flex: 0 0 70%
  border-radius: $border-radius-sm

.tableHeading
  font-size: $font-size-base
  margin: $m-sm $m-sm

