@import '@shared/stylesheets/config'

.trigger
  border-radius: $border-radius-sm
  padding: $m-x * 0.5
  position: absolute
  right: $m-xs
  top: 0
  z-index: $z-lowest + 1

  svg
    fill: $color-primary-500

  &:hover
    background-color: $color-background

.dropdown
  background-color: $color-white
  border: 1px solid $color-primary-500
  border-radius: $border-radius-sm
  margin: 0
  min-width: 200px
  position: absolute
  right: $m-xs
  top: $m-md + $m-xs
  z-index: $z-lowest + 1

.dropdownItem
  cursor: pointer
  display: flex
  font-weight: $font-weight-regular
  padding: $m-sm
  transition: color, background-color, $transition-duration * 0.5 $transition-function

  &:hover
      background-color: $color-background
      color: $color-primary-500

  &:first-of-type
      border-top-left-radius: $border-radius-sm
      border-top-right-radius: $border-radius-sm

  &:last-of-type
      border-bottom-left-radius: $border-radius-sm
      border-bottom-right-radius: $border-radius-sm

.deleteItem
  color: $color-danger-500