@import '@shared/stylesheets/config.sass'

$common-icon-width: 118px
$info-max-width: 688px

.container
  margin: 0 auto

  +media-breakpoint-up(xxxl)
    max-width: 75%

.info
  max-width: $info-max-width
  text-align: center
  font-weight: $font-weight-regular
  line-height: $line-height-lg
  font-size: $font-size-base
  margin: 0 auto
