@import '@shared/stylesheets/config.sass'

.body
  +flex-container(column, center, center)
  height: 100%

.placeholderText
  color: $color-font-primary
  font-weight: $font-weight-bold
  font-size: $font-size-sm
  margin: 0
