@import '@shared/stylesheets/config.sass'

.entityName
  color: $color-primary-500
  display: block
  margin: $m-xs 0 $m-sm 0

.assignLabel
  margin: 0

.checkbox
  margin-bottom: $m-sm

.body
  \:global(.dc-async-select__menu)
    position: relative
    z-index: $z-higher
