@import '@shared/stylesheets/config.sass'

.linkWrapper
  +flex-container(column)
  gap: $m-xs
  font-weight: $font-weight-medium

.link
  +flex-container(row, false, center)
  gap: $m-xs
  color: $color-primary-500
  width: fit-content
  font-weight: $font-weight-regular
