@import '@shared/stylesheets/config.sass'

.header
  font-size: $font-size-sm
  font-weight: $font-weight-regular
  margin: 0

.dates
  +flex-container(row, space-between, center)
  margin: $m-sm 0 $m-xs 0

.checkbox
  display: inline-block
