@import '@shared/stylesheets/config'

.kicker
  font-weight: $font-weight-bold
  letter-spacing: 0.1em
  text-transform: uppercase
  line-height: $line-height-base
  margin-bottom: $m-xs

  &.sm
    font-size: $font-size-xxxs

  &.md
    font-size: $font-size-xxs

  &.lg
    font-size: $font-size-xs

  &.default
    color: $color-font-secondary

  &.dark
    color: $color-font-primary

  &.neutral
    color: $color-neutral-500

  &.secondary
    color: $color-secondary-500

