@import '@shared/stylesheets/config'

.icon
  path
    fill: $color-font-primary

.label
  display: flex
  gap: $m-xxs
  margin-bottom: 0

.styleLabel
  display: inline-block
  margin-top: $m-sm

.positionLabel
  display: inline-block
  margin-top: $m-xs

.styleButtons,
.positionButtons
  display: flex
  gap: $m-xs
  margin: $m-sm 0

.positionButtons
  margin-bottom: $m-base

.button
  border-color: $color-border !important
  padding: $m-xs $m-sm
  text-transform: capitalize

.selected
  border-color: $color-primary-500 !important
