@import '@shared/stylesheets/config.sass'

.title
  color: $color-neutral-800
  font-weight: $font-weight-bold
  line-height: $line-height-sm

.text
  font-weight: $font-weight-regular

.boldedText
  font-weight: $font-weight-medium
