@import '@shared/stylesheets/config.sass'

.portfolioResume
  background-color: $color-white
  border-radius: $border-radius-sm
  padding: $m-base

.header
  +flex-container(row, space-between, center)
  margin-bottom: $m-base
  gap: $m-sm

.heading
  font-size: $font-size-base
  font-weight: $font-weight-regular
  margin: 0

.buttonText
  padding-left: $m-xs
