@import '@shared/stylesheets/config.sass'

.modalContext
  color: $color-primary-500
  margin-bottom: $m-md

.textArea
  height: 100px
  margin-top: $m-xs
  resize: none
  width: 100%

  +media-breakpoint-up(xxl)
    height: 200px

.textareaLabel
  color: $color-font-secondary

.button
  margin-left: auto

.contextInfo
  display: flex
  margin-top: $m-xs

  svg
    fill: $color-primary-500

.contextTitles
  margin-left: $m-sm

.contextTitle
  display: block
  font-weight: $font-weight-medium

.contextSubtitle
  font-size: $font-size-xs
  font-style: italic

