@import '@shared/stylesheets/config.sass'

.dropdownMenuContent
  min-width: 120px
  max-width: 240px
  background-color: $color-white
  border-radius: $m-xs
  border: 1px solid $color-border
  color: $color-neutral-800
  font-size: $font-size-xs
  padding: 0 $m-xxs
  box-shadow: $shadow-200
  animation-duration: 400ms
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1)
  will-change: transform, opacity

