@import '@shared/stylesheets/config'
    
.container
  +flex-container(row, space-between, center)
  margin-top: $m-sm
  position: relative

.clear
  color: $color-danger-500
  position: absolute
  right: 0
  top: 0