@import '@shared/stylesheets/config.sass'

.emptyContainer
  +flex-container(column, center, center)
  color: $color-font-primary
  margin-top: $m-sm

.emptyTitle
  margin: $m-base 0 $m-xs

.emptyDescription
  margin: 0
