@import '@shared/stylesheets/config.sass'

.user-class
  +flex-container(column)
  overflow: hidden
  &#{&}
    padding: 0

  &__header
    color: $color-font-primary
    flex: 0
    height: 100%
    margin-bottom: $m-sm
    padding: $m-sm

    &__dropdown
      +flex-container(column, center, center)
      background-color: $color-white
      border-radius: $border-radius-sm
      border: 1px solid $color-primary-600
      max-height: 100%
      position: absolute
      right: $m-sm
      top: 56px
      width: 170px
      z-index: $z-lower

      &__button
        justify-content: flex-start
        padding: $m-x
        width: 100%

    &__top
      +flex-container(row, flex-start, center)
      margin-bottom: $m-md
      position: relative

      .-active > .button
        background-color: $color-white

        &:hover
          background-color: inherit

    &__class-info
      font-size: $font-size-base
      margin: 0 auto 0 0

    &__class-name
      +flex-container(row, flex-start, center)

    &__entity-name
      display: block
      font-weight: $font-weight-regular
      margin-bottom: $m-xxs

    &__bottom
      +flex-container(row, space-between, center)

    &__label
      font-size: $font-size-base
      margin: 0 $m-sm 0 0

    &__search-bar
      min-width: 320px

    &__button
      margin-left: $m-base

  &__students
    +flex-container(column)
    height: calc(100vh - $desktop-header-height - 170px )
    min-height: 0 //for Firefox
    overflow: auto
    padding: $m-sm

    &__list
      display: grid
      gap: $m-base
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr))

      &.-placeholder
        padding: $m-sm

  &__student
    color: $color-font-primary
    font-size: $font-size-xs
    padding-top: $m-md !important
    position: relative

    &__header
      +flex-container(row, center, center)
      position: relative

    &__avatar-wrapper
      display: inline-block
      position: relative

    &__avatar
      &.-archived
        .avatar__image
          border: 1px solid $color-danger-500

        .sb-avatar
          border-color: transparent

    &__archived-icon
        top: -$m-xxs
        right: -2px
        background-color: $color-danger-500
        border-radius: 50px
        position: absolute
        padding: 2px

        svg
            fill: $color-white

    &__avatar span
      font-size: $font-size-xxs !important

    &__educational-logo-wrapper
      left: 0
      position: absolute
      top: 0

    &__message-button
      +cleared-button()
      background-color: $color-background
      border-radius: 100%
      padding: $m-xxs
      position: absolute
      right: 0

      svg
        transform: scale(0.8)
        fill: $color-primary-500

    &__name
      color: $color-primary-500
      display: block
      font-size: $font-size-sm
      font-weight: $font-weight-bold
      margin: $m-xs 0
      text-align: center
      word-break: break-word

      &.-archived
        color: $color-danger-500

    &__assessment
      +flex-container(row, center, center)
      color: $color-secondary-500
      margin-bottom: $m-xxs

      &.-done
        color: $color-success-500
        border-color: $color-success-500

        .user-class__student__assessment-icon
          background-color: $color-success-500

    &__course-progress
      color: $color-primary-500
      display: block
      margin-bottom: $m-sm
      text-align: center

    &__assessment-icon
      background-color: $color-font-secondary
      border-radius: 100%
      color: $color-font-secondary
      height: $m-sm
      margin-right: $m-xs
      width: $m-sm

      svg
        transform: scale(0.7)
        path
          fill: $color-white

    &__review-indicator
      background-color: $color-secondary-500
      border-top-left-radius: 8px
      border-top-right-radius: 8px
      left: 0
      padding: $m-xxs
      position: absolute
      top: 0
      width: 100%

      .review-indicator__label
        display: none

      .review-indicator__text
        color: $color-white


      &.-hidden
        visibility: hidden

    &__view-profile-button
      +cleared-button
      align-items: center
      color: $color-primary-500
      display: flex
      font-size: $font-size-sm
      margin: $m-xs auto 0

      svg
        fill: $color-primary-500

      &.-needs-review
        color: $color-secondary-500

        svg
          fill: $color-secondary-500

      .icon
        margin-left: $m-xxs

.user-class-skeleton

  &__avatar
    height: 32px
    &#{&}
      width: 32px

  &__entity-name
    &#{&}
      width: 200px

  &__announcement
    height: 50px

    &#{&}
      border-radius: $border-radius-sm
      width: 200px

  &__list-button
    margin: $m-base auto 0 auto

  &__more
    height: 50px
    margin-left: $m-sm

    &#{&}
      border-radius: $border-radius-sm
      width: 100px

  &__list-name
    margin: $m-sm auto

  &__students-label
    &#{&}
      width: 150px

  &__search
    height: 50px
    margin-top: $m-sm

    &#{&}
      border-radius: $border-radius-sm
      width: 200px

//----- media queries --------------------------------------------------------------------------------------------------
+media-breakpoint-down(xs)
  .user-class
    &__header
      &__bottom
        +flex-container(column, space-between, flex-start)
