@import '@shared/stylesheets/config.sass'

@keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 0.6

.externalPresentation
  flex: 2
  height: 25vw
  min-height: 300px
  margin-bottom: $m-base
  position: relative

  iframe
    border-radius: $border-radius-xs
    border: none
    height: 100%
    width: 100%

.editMode
  background-color: $color-white
  position: absolute
  right: $m-base
  top: $m-base

.backgroundDimmer
  background-color: $color-black
  border-radius: $border-radius-xs
  height: 100%
  opacity: 0.6
  position: absolute
  right: 0
  top: 0
  width: 100%
  z-index: $z-lower
  animation: fadeIn 1000ms
