@import '@shared/stylesheets/config.sass'

.content
  +flex-container(row, center)
  gap: $m-base

.loader
  +flex-container(column, center, center)
  height: 100%

.emptyContent
  height: 100%

  div:first-child
    margin-bottom: $m-md

.emptyText
  font-size: $font-size-xs
