@import '@shared/stylesheets/config.sass'

.wrapper
  text-align: center

.clearFilter
  color: $color-primary-500
  font-size: $font-size-sm
  font-weight: $font-weight-regular
  line-height: $line-height-base
