@import '@shared/stylesheets/config'

.admin-user
  background-color: $color-white
  color: $color-font-primary
  padding: $m-base

  &__heading
    font-size: $font-size-2lg
    margin-bottom: $m-sm

  &__sub-heading
    margin-bottom: $m-base
    color: $color-primary-500

  &__category-heading
    font-size: $font-size-base

  &__button
    margin-left: auto
    margin-top: $m-xl
