@import '@shared/stylesheets/config.sass'

.buttonsWrapper
  display: flex
  justify-content: center
  margin-bottom: $m-sm
  width: 100%

.button
  width: $button-width

  &:not(:first-of-type)
    margin-left: $m-sm
