@import '@shared/stylesheets/config'

.admin-student
  color: $color-font-primary

  &__heading
    font-size: $font-size-2lg
    margin-bottom: $m-sm

  &__sub-heading
    margin-bottom: $m-base

  &__category-heading
    font-size: $font-size-base

  &__settings
    background-color: $color-white
    border-radius: $border-radius-sm
    padding: $m-sm

  &__switch
    margin-bottom: $m-sm
