@import '@shared/stylesheets/config.sass'

.checkbox
  display: inline-block
  margin: 0
  padding: 0

.listItem
  +flex-container(row, flex-start, center)
  margin-bottom: $m-sm + $m-xxs

  svg
    color: $color-primary-500

.typeElement
  color: $color-font-secondary
  font-size: $font-size-xxs
  font-weight: $font-weight-bold
  line-height: $line-height-sm
  text-transform: uppercase

.listWrapper
  padding-left: $m-lg + $m-xs
