@import '@shared/stylesheets/config.sass'

$max-card-width: 380px
$max-card-width-xxl: 535px

.contentCard
  max-width: $max-card-width

  +media-breakpoint-up(xxxl)
    max-width: $max-card-width-xxl
