@import '@shared/stylesheets/config'

.editButton
  color: $color-primary-500

  &:hover
    color: $color-primary-500
    background-color: $color-primary-200

.deleteButton
  color: $color-danger-500

  &:hover
    color: $color-danger-500
    background-color: $color-danger-100

.closeButton
  color: $color-primary-500
  padding: 0
