@import '@shared/stylesheets/config.sass'

.option
  background-color: transparent !important
  display: flex !important
  align-items: center

  &:active
    background-color: $color-background !important
    color: $color-font-primary !important

.selectedIcon
  color: $color-primary-500
  margin-left: auto
