@import '@shared/stylesheets/config.sass'

.header
  +flex-container(row, space-between, center)
  margin-bottom: $m-base

.backText
  margin-left: $m-xxs

.spacer
  visibility: hidden

.title
  color: $color-primary-500
  font-size: $font-size-lg
  font-weight: $font-weight-bold
  margin: 0

