@import '@shared/stylesheets/config.sass'

.assessment-result-courses-tabs
  display: flex
  justify-content: space-between
  margin: auto
  overflow: auto
  width: 100%

  +media-breakpoint-up(lg)
    overflow: visible

  &__tab
    border-radius: $border-radius-sm $border-radius-sm 0 0
    color: $color-font-primary
    cursor: pointer
    font-size: $font-size-base
    margin: auto
    padding: $m-sm 0
    text-align: center
    width: 150px

    &.-selected
      border-bottom: 2px solid $color-primary-500
      color: $color-primary-500

    &:hover
      background-color: $color-white

    &-content // tooltip element selector
      min-width: 400px
