@import '@shared/stylesheets/config.sass'

.container
  height: 100%
  width: 100%
  grid-column: span 4

.reportAreaContainer
  grid-area: bottomleft

.fullWidth
  grid-column-start: bottomleft
  grid-column-end: bottomright

.studentViewFullWidth
  grid-column-start: bottom
  grid-column-end: bottom

.body
  +flex-container(column,center, center)
  gap: $m-xs
  height: 100%
  padding-bottom: $m-sm

.heading
  font-size: $font-size-sm
  margin: 0

  +media-breakpoint-up(xxl)
    font-size: $font-size-base

.subHeading
  font-size: $font-size-xs
  margin: 0

  +media-breakpoint-up(xxl)
    font-size: $font-size-sm
