@import '@shared/stylesheets/config'

$status-divider-width: 8px

.statusTooltip
  text-align: center
  white-space: pre-line

.statusDivider
  background-color: $color-neutral-500
  border-radius: 1px
  height: 1px
  margin: 0 $m-xs
  width: $status-divider-width

.submitted,
.re_submitted
  color: $color-secondary-500
