@import '@shared/stylesheets/config.sass'

.container
  +flex-container(column)
  background-color: $color-white
  grid-area: topleft
  position: relative

.heading
  font-size: $font-size-base
  margin: $m-sm 0 $m-sm $m-sm

.list
  +flex-container(column)
  gap: $m-sm
