@import '@shared/stylesheets/config.sass'

$button-width: 200px
$icon-size: 90px

.commonAppCardWrapper
  border-bottom-left-radius: 0
  border-bottom-right-radius: 0

.commonAppIcon
  width: $icon-size

.button
  font-size: $font-size-xs
  line-height: $line-height-lg
  width: $button-width

  +media-breakpoint-up(xxxl)
    font-size: $font-size-sm
