@import '@shared/stylesheets/config.sass'

.buttonsWrapper
  display: flex
  width: 100%
  justify-content: center
  margin-bottom: $m-sm

.button
  width: 50%

  &:not(:first-of-type)
    margin-left: $m-sm
