@import '@shared/stylesheets/config'

.contentWrapper
  flex: 1 0 50%

.onDark
  background-color: $color-white !important
  border-color: $color-primary-500

.btnWrapper
  border: 2px dashed transparent
  border-radius: $border-radius-sm
  padding: $m-xxs
  align-self: center

.textWrapper
  height: 100%

  :global(.presentation-textcontainer)
    margin: 0 !important
    height: 100%

.noMargin
  h4
    margin-bottom: 0

.description
  height: 100%

.button
  white-space: nowrap
  align-self: center

.selectedOnDark
  border-color: $color-white

.selectedOnLight
  border-color: $color-primary-500

.alignLeft
  text-align: left

.flex
  +flex-container(row, space-between, stretch)
  margin-bottom: $m-sm
