@import '@shared/stylesheets/config'

.sortable-list-spinner
  +flex-container(row, center, center)
  height: $filtering-list-height
  margin:
    top: $m-sm
    bottom: $m-lg
  width: 100%
  .loading-spinner__spinner
    height: $m-xl
    width: $m-xl
