@import '@shared/stylesheets/config.sass'

$chips-width: 320px

.main
  padding: $m-md

.catalogNav
  +flex-container(column, space-between)

.catalogHead
  +flex-container(row, space-between)
  color: $color-font-primary
  margin-bottom: $m-md

.heading
  margin: 0

.headWrapper
  +flex-container(row, flex-start, center)

.footerContainer
  margin-top: auto
  align-self: center
