@import '@shared/stylesheets/config.sass'

.mainContainer
  padding-left: $m-md

.singleStandard
  border: 1px $color-neutral-300 solid
  border-radius: $m-xs
  margin-bottom: $m-sm
  padding: $m-sm

  &:hover
    border-color: $color-neutral-400

.standardNumber
  color: $color-neutral-800
