@import '@shared/stylesheets/config'

$first-row-height-small: 450px
$first-row-height-xxl: 500px
$second-row-height-small: 300px
$second-row-height-xxl: 350px

.grid
  display: grid
  grid-template-columns: 2fr 1fr
  gap: $m-sm
  grid-auto-rows: $first-row-height-small $second-row-height-small
  grid-template-areas: "topleft topright" "bottomleft bottomright"

  +media-breakpoint-up(xl)
    grid-auto-rows: $first-row-height-small $second-row-height-xxl

  +media-breakpoint-up(xxxl)
    grid-template-columns: 2fr 1fr
    grid-auto-rows: $first-row-height-xxl $second-row-height-small
    gap: $m-base

.libraryGrid
  grid-template-areas: "topleft topright" "bottomleft bottomright"
