@import '@shared/stylesheets/config.sass'

$input-height: 40px
$textarea-height: 66px

.comboPromptWrapper
  input,
  textarea
    width: 100%

    &::placeholder
      color: $color-neutral-400


  .textarea
    height: $textarea-height

