@import '@shared/stylesheets/config.sass'

$button-width: 200px
$icon-size: 100px

.commonAppIcon
  width: $icon-size

.button
  font-size: $font-size-xs
  line-height: $line-height-lg
  width: $button-width
  padding-left: 0
  padding-right: 0

  +media-breakpoint-up(xxxl)
    font-size: $font-size-sm
