@import '@shared/stylesheets/config'

$nav-iframe-height: 300px
$nav-iframe-width: 500px

.textContainer
  position: relative
  top: -$m-lg

.iframeWrapper
  +flex-container(row, center, center)
  cursor: pointer

  iframe
    width: 100%

.iconWrapper
  +flex-container(column, center, center)
  background-color: $color-background
  cursor: pointer
  display: flex
  font-size: $font-size-xs
  max-height: $nav-iframe-height
  max-width: $nav-iframe-width
  min-height: $nav-iframe-height
  min-width: $nav-iframe-width
  pointer-events: none
  position: relative
  top: -$m-lg

  div,
  iframe
    height: 100%
    position: absolute

  p
    margin: $m-xs 0 !important

.icon
  color: $color-white
  height: 100px
  width: 150px

  path
    fill: $color-white

.hiddenBackground
  background-color: transparent

.switchButtons
  +flex-container(row, flex-end, center)
  margin-right: 128px
  position: absolute
  right: 0
  top: -54px

.hidden
  visibility: hidden

.scriptWrapper
  max-height: 80%
  max-width: 90%
  overflow: hidden

.button
  background-color: $color-white !important

.scriptView
  color: $color-font-primary !important
