@import '@shared/stylesheets/config.sass'

.popoverWrapper
  border-radius: $border-radius-sm
  font-size: $font-size-xxs
  max-width: 600px
  box-shadow: $shadow-300
  padding: $m-sm $m-xs
  background-color: $color-font-primary
  color: $color-white
  z-index: $z-high

  &:focus-visible
    outline: none !important

