=choice-base
  color: $color-font-secondary
  display: flex
  font-size: $font-size-sm
  margin-bottom: $m-sm

=choice-input
  opacity: 0
  position: absolute
  z-index: $z-negative

=choice-label
  align-items: center
  cursor: pointer
  display: flex
  width: 100%

=choice-mark
  content: ''
  cursor: pointer
  flex: 0 0 $m-base
  height: $m-base
  margin-right: $m-sm
  width: $m-base
