@import '@shared/stylesheets/config'
  
.container
  width: 100%

.range
  background-color: $color-disabled
  border-radius: $border-radius-sm
  height: 2px
  position: relative

.indicator
  background-color: $color-secondary-500
  border-radius: $border-radius-sm
  height: $m-xxs
  position: absolute
  top: -1px
