@import '@shared/stylesheets/config'

.student-settings-modal
    &__info
        color: $color-primary-500
        display: block
        font-size: $font-size-base
        margin: 0 0 $m-sm

    &__value
        font-weight: $font-weight-bold

