@import '@shared/stylesheets/config'

.school-class-settings-modal
    &__info
        color: $color-primary-500
        display: block
        font-size: $font-size-base
        margin: 0 0 $m-sm

    &__value
        font-weight: $font-weight-bold

    &__warning
        color: $color-danger-500
        font-size: $font-size-xxs
        margin: 0
        visibility: hidden

        &.-visible
            visibility: visible
