@import '@shared/stylesheets/config.sass'

.tabContentWrapper
  +flex-container(column)
  gap: $m-md
  margin-top: $m-sm

.credits
  +flex-container(row, false, center)
  font-weight: $font-weight-medium
  font-size: $font-size-xxs
  margin-bottom: 0

.creditsImage
  margin-right: $m-sm
  height: $m-sm
