@import '@shared/stylesheets/config'

.montserrat p
  font-family: $font-family-body !important

.roboto
  font-family: Roboto Mono

  h1,h2,h3,h4,h5,h6
    font-family: Roboto Mono

.lora
  font-family: $font-family-body !important

  h1,h2,h3,h4,h5,h6
    font-family: Lora

.cabinSketch
  font-family: $font-family-body !important

  h1,h2,h3,h4,h5,h6
    font-family: Cabin Sketch

:global
  .presentation-textcontainer
    li 
      span
        vertical-align: text-top
