@import '@shared/stylesheets/config.sass'

$fullHD-opportunity-card-height: 310px
$laptop-opportunity-card-height: 268px

.skeleton
  height: $laptop-opportunity-card-height

  +media-breakpoint-up(xxxl)
    height: $fullHD-opportunity-card-height
