@import '@shared/stylesheets/config'

.presentationPrintPreview
  :global
    .reveal
      margin-top: 0

      .pdf-page
          border-bottom: 1px solid $color-black

    .reveal.center
      min-height: calc(100vh - 72px) !important
