@import '@shared/stylesheets/config.sass'

.emptyFavourites
  +flex-container(column, center, center)
  padding: $m-xl 0
  border-radius: $border-radius-sm

.image
  margin-bottom: $m-md

.heading
  margin-bottom: $m-sm

.info
  font-size: $font-size-xs
